@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.sector{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../../public/img/backImg2.png');
    color: #1E1E1E;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1638px ;
    align-items: center;
}
.cards{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

}
.card{
    align-items: center;
    text-align: center;
    padding-top: 7px;
    width: 450px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(338.34deg, rgba(60, 61, 74, 0) 0%, #3C3D4A 55.97%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 60px;
}
.card:not(:first-child){
    margin-left: 100px;
}
.cardName{
    margin-top: 45px;
    height: 80px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardDescriptionContainer{
    width: 390px;
    height: 377px;
}
.cardDescription{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFE5B4;
}
.cardBtnContainer{
    text-align: center;
    padding-bottom: 60px;
}
.cardBtn {
    cursor: pointer;
    width: 249px;
    height: 83px;
    background: linear-gradient(96.34deg, #D37059 51.11%, rgba(211, 112, 89, 0) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFE5B4;
    position: relative;

}
.cardBtn > span{
    position: relative;
    z-index: 1;
}
.cardBtn:after {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFE5B4;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(96.34deg, #8C9494 51.11%, #D37059 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0px;
    opacity: 0;
    transition: opacity 0.5s;
}
.cardBtn:hover:after{
   opacity: 1;
}
.cardBtn:active:after{
    background: linear-gradient(96.34deg, #D37059 36.98%, #8C9494 100%);
}
.cardBtnContainerCustom{
    text-align: center;
    padding-top: 15px;
}
.cardBtnCustom{
    cursor: pointer;
    width: 299px;
    height: 64px;
    background: linear-gradient(96.34deg, #D37059 51.11%, rgba(211, 112, 89, 0) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFE5B4;
    position: relative;
}
.cardBtnCustom > span{
    position: relative;
    z-index: 1;
}
.cardBtnCustom:after {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFE5B4;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(96.34deg, #8C9494 51.11%, #D37059 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 0px;
    opacity: 0;
    transition: opacity 0.5s;
}
.cardBtnCustom:hover:after{
    opacity: 1;
}
.cardBtnCustom:active:after{
    background: linear-gradient(96.34deg, #D37059 36.98%, #8C9494 100%);
}

.baner{
    margin: 0 auto;
    margin-top: 76px;
    width: 1550px;
    height: 231px;
    background: linear-gradient(93.34deg, #3C3D4A 55.43%, rgba(60, 61, 74, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 60px;
}
.banerName{
    margin: 0 auto;
    padding-top: 24px;
    font-family: 'Lora'  ;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banerDescription{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #FFE5B4;
}

.weCreate{
    padding-top: 80px;
    margin: 0 auto;
    max-width: 635px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.ourProjects{
    cursor: pointer;
    row-gap: 100px;
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    max-width: 1260px;
    margin: 0 auto;
    border-radius: 50%;

}
.project{
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition:         transform 1.2s ease-in-out;
}

.project:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.whatIsContainer{
    display: flex;
    padding-top: 300px;
}
.whatIsMenu{
    margin-left: 29px;
}
.whatIsImg{
    background-image: url("../../../public/img/logoS2.png");
    width: 715px;
    height: 715px;
    border-radius: 60px;
    padding-right: 32px;
}

.whatIsTit{
    white-space: nowrap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 128px;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.whatIsBtn{
    cursor: pointer;
    margin-top: 28px;
    width: 890px;
    height: 167px;
    background: linear-gradient(180deg, #8C9494 14.58%, rgba(140, 148, 148, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 60px;
    border:0px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 82px;
    text-align: center;
    text-transform: uppercase;
    color: #FFE5B4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.swiperWrapper{
    width: 1600px;
    height:3000px ;
}

.FormSector{
    padding-top: 254px;
}
@media (max-width: 1440px){
    .container{
        margin: 0 auto;
        max-width: 1160px ;
        align-items: center;
    }
    .cards{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;

    }
    .card{
        align-items: center;
        text-align: center;
        padding-top: 7px;
        width: 350px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(338.34deg, rgba(60, 61, 74, 0) 0%, #3C3D4A 55.97%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
        border-radius: 60px;
    }
    .card:not(:first-child){
        margin-left: 50px;
    }
    .cardName{
        margin-top: 30px;
        height: 80px;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;
        text-transform: uppercase;
        color: #D37059;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .cardDescriptionContainer{
        width: 344px;
        height: 299px;
    }
    .cardDescription{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFE5B4;
    }
    .cardBtnContainer{
        text-align: center;
        padding-bottom: 15px;
    }
    .cardBtn {
        cursor: pointer;
        width: 249px;
        height: 83px;
        background: linear-gradient(96.34deg, #D37059 51.11%, rgba(211, 112, 89, 0) 100%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        border: 0;
        font-family: 'Ubuntu', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFE5B4;
        position: relative;

    }
    .cardBtn > span{
        position: relative;
        z-index: 1;
    }
    .cardBtn:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #FFE5B4;
        text-decoration: none;
        font-family: 'Ubuntu', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        background: linear-gradient(96.34deg, #8C9494 51.11%, #D37059 100%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        border: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .cardBtn:hover:after{
        opacity: 1;
    }
    .cardBtn:active:after{
        background: linear-gradient(96.34deg, #D37059 36.98%, #8C9494 100%);
    }
    .cardBtnContainerCustom{
        text-align: center;
        padding-top: 15px;
    }
    .cardBtnCustom{
        cursor: pointer;
        width: 200px;
        height: 50px;
        background: linear-gradient(96.34deg, #D37059 51.11%, rgba(211, 112, 89, 0) 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        border: 0px;
        font-family: 'Ubuntu', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFE5B4;
        position: relative;
    }
    .cardBtnCustom > span{
        position: relative;
        z-index: 1;
    }
    .cardBtnCustom:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #FFE5B4;
        text-decoration: none;
        font-family: 'Ubuntu', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(96.34deg, #8C9494 51.11%, #D37059 100%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        border: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .cardBtnCustom:hover:after{
        opacity: 1;
    }
    .cardBtnCustom:active:after{
        background: linear-gradient(96.34deg, #D37059 36.98%, #8C9494 100%);
    }

    .baner{
        margin: 0 auto;
        margin-top: 76px;
        width: 1160px;
        height: 160px;
        background: linear-gradient(93.34deg, #3C3D4A 55.43%, rgba(60, 61, 74, 0) 100%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
        border-radius: 60px;
    }
    .banerName{
        margin: 0 auto;
        padding-top: 10px;
        font-family: 'Lora', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
        color: #D37059;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .banerDescription{
        font-family: 'Ubuntu',serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFE5B4;
    }
    .ourProjects{
        cursor: pointer;
        row-gap: 100px;
        padding-top: 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: stretch;
        max-width: 1260px;
        margin: 0 auto;
        border-radius: 50%;

    }
    .whatIsContainer{
        display: flex;
        padding-top: 185px;
    }
    .whatIsMenu{
        margin-left: 29px;
    }
    .whatIsImg{
        background-image: url("/public/img/logoS21440px.svg");
        width: 515px;
        height: 515px;
        border-radius: 60px;
        padding-right: 50px;
    }

    .whatIsTit{
        white-space: nowrap;
        font-family: 'Lora',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 82px;
        text-transform: uppercase;
        color: #D37059;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    }
    .whatIsBtn{
        cursor: pointer;
        margin-top: 28px;
        width: 595px;
        height: 120px;
        background: linear-gradient(180deg, #8C9494 14.58%, rgba(140, 148, 148, 0) 100%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
        border-radius: 60px;
        border:0;
        font-family: 'Lora',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 61px;
        text-align: center;
        text-transform: uppercase;
        color: #FFE5B4;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
    }
    .swiperWrapper{
        width:1160px;
        height:3000px ;
    }
    .FormSector{
        padding-top: 168px;
    }
}
