@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.sector{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../public/img/backImg2.png');
    color: #1E1E1E;;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1638px ;
    align-items: center;
}
.cards{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

}

.card{
    align-items: center;
    text-align: center;
    padding-top: 7px;
    width: 450px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(338.34deg, rgba(60, 61, 74, 0) 0%, #3C3D4A 55.97%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 60px;
}
.card:not(:first-child){
    margin-left: 100px;
}
.cardName{
    padding-top: 45px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardDescriptionContainer{
    width: 390px;
    height: 377px;
}
.cardDescription{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFE5B4;
}
.cardBtnContainer{
    text-align: center;
    padding-bottom: 60px;

}
.cardBtn {
    cursor: pointer;
    width: 249px;
    height: 83px;
    background: linear-gradient(96.34deg, #D37059 51.11%, rgba(211, 112, 89, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    border: 0px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFE5B4;
}

.baner{
    margin: 0 auto;
    margin-top: 76px;
    width: 1550px;
    height: 204px;
    background: linear-gradient(93.34deg, #3C3D4A 55.43%, rgba(60, 61, 74, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 60px;
}
.banerName{
    margin: 0 auto;
    padding-top: 24px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banerDescription{
    margin: 0 auto;
    padding-top: 21px;
    font-family: 'Ubuntu';
    max-width: 1300px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFE5B4;
}

.weCreate{
    padding-top: 80px;
    margin: 0 auto;
    max-width: 635px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.ourProjects{
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    max-width: 1260px;
    margin: 0 auto;
}
.project{
    padding-top: 50px;
    padding-bottom: 50px;
}


.whatIsContainer{
    display: flex;
    padding-top: 300px;
}
.whatIsMenu{
    margin-left: 29px;
}
.whatIsImg{
    background-image: url("../../public/img/logoS2.png");
    width: 715px;
    height: 715px;
    border-radius: 60px;
    padding-right: 32px;
}


.whatIsTit{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 128px;
    text-transform: uppercase;
    color: #D37059;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.whatIsBtn{
    margin-top: 28px;
    width: 890px;
    height: 167px;
    background: linear-gradient(180deg, #8C9494 14.58%, rgba(140, 148, 148, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 60px;
    border:0px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 82px;
    text-align: center;
    text-transform: uppercase;
    color: #FFE5B4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.FormSector{
    padding-top: 254px;
}