.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 3;
}
.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContent{
    width: 1641px;
    height: 715px;
    background: #221C2E;
    border-radius: 50px;

}
.modalContentColor{
    border-radius: 50px;
    display: flex;
    width: 1641px;
    height: 715px;
    background: url("/public/img/backModal.png");
    z-index: 1;


}